* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #f4f6f5;
}

header {
  background: #0b7a3b;
  color: white;
  padding: 25px;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

.instructions,
.vote-section {
  background: white;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 25px;
}

.vote-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* PARTY CARD */
.party-card {
  display: block;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;

}

.party-card:hover {
  border-color: #0b7a3b;
}

/* hide radio */
.party-card input {
  display: none;
}

/* content */
.party-content {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.party-content > img {
  width: 60px;
}

.logo-wrapper img {
  width: 60px;
}

.details {
  flex: 1;
}

.details h3 {
  margin: 0 0 5px;
}

/* CROWN ICON */
.crown-icon {
  display: auto;
  margin-left: auto;
  padding-left: 15px;
  position: relative
}

.crown-icon img {
  width: 50px;
  height: 50px;
}


/* RESULT BAR */
.bar {
  background: #e0e0e0;
  height: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.bar div {
  height: 100%;
  width: 0%;
  background: #0b7a3b;
  transition: width 0.4s ease;
}

/* selected state */
.party-card input:checked + .party-content {
  background: #eefaf3;
  border-radius: 6px;
  outline: 2px solid #0b7a3b;
}

/* submit */
#submit-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  background: #0b7a3b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submit-btn:hover {
  background: #095f2f;
}

#message {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 15px;
  color: #666;
}
